.go-up {
    display: none;
    height: 44px;
    width: 48px;
    background: rgb(192, 57, 43);
    font-size: 30px;
    padding-left: 8.5px;
    padding-top: 13px;
    color: white;
    cursor: pointer;
    position: fixed;
    z-index: 1;
    bottom: 20px;
    right: 20px;
}

.share-button {
    display: inline-block;
    height: 22px;
    width: 72px;
    background: rgba(192, 57, 43, 0.8);
    font-size: 12px;
    color: black;
    padding-left: 11px;
    padding-top: 5px;
    cursor: pointer;
    position: fixed;
    z-index: 1;
    top: 35px;
    right: 20px;
    border-radius: 20px;
}

header {
	background:#2c3e70;
	/*color:#ffffff;*/
	color:#f4f488;
}
.main {
	/*background:#f2f2f2;*/
	background:#f2f2f2;
}
.color1 {
	background:#34495e;
	color:#fff;
}
aside {
	background:#c0392b;
	color:#fff;
}

#footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 280px;
  background: 
  /* color overlay */ 
    linear-gradient(
      rgba(22, 160, 128, 0.45), 
      rgba(0, 0, 0, 0.45)
    ),
    /* image to overlay */
    url(http://images.cdn.fotopedia.com/_avPIZmqM3w-7z161LH_268-hd.jpg);
}

.footertext {
  color: #ffffff;
}

.image-carousel {
    height: 361px;
    width: 615px;
}

.container1 {           /*este lo creo para agrandar el ancho del container*/
  padding-right: 35px;
  padding-left: 35px;
  margin-right: auto;
  margin-left: auto;
}

.scroll{
    max-height: 290px;
    overflow-y:scroll; 
    width: 270px;
    color: black;
    font-size: 0.8em;
    background: lightgrey;
}

.scroll-info{
    overflow-y:scroll; 
    font-size: 0.8em;
}

#map { 
    height:300px;
    box-shadow: 5px 5px 5px #888;
}

.list {
    width: 30%;
    height: 350px;
    overflow-y: scroll; 
    overflow-x: scroll;
    margin: auto;
    border-radius:17px;
    margin-top: 20px ;
    margin-left: 17px ;
    background: #c0392b ;
    box-shadow: 1px 7px 18px 1px rgba(192, 57, 43,0.5);
    color: black;
}

.list label {
    text-decoration: underline;
    font-weight: bold;
}

.list-user {
    width: 30%;
    height: 350px;
    margin: auto;
    margin-top: 20px ;
    margin-left: 17px ;
}

.list-ids {
    width: 100%;
    overflow-x:scroll;
    overflow-y:scroll; 
    margin: auto;
    border-radius:7px;
    margin-top: 10px ;
    margin-right: 40px ;
    background-color: #f8f8f8 ;
    box-shadow: 0px 3px 18px 0px rgba(0,0,0,0.4);
}

.info-list {
    width: 60%;
    height: 190px;
    overflow-y: scroll; 
    overflow-x: scroll;
    margin: auto;
    border-radius:17px;
    margin-top: 20px ;
    margin-left: 17px ;
    background: #c0392b ;
    box-shadow: 1px 7px 18px 1px rgba(192, 57, 43,0.5);
}

#collections {
    text-decoration: underline;
    cursor:pointer;
}

#load-form {
    padding-left: 48px;
}

#parking-description h3 {
    text-decoration: underline;
}

#users img {
    height: 40px;
    width: 40px;
    border-radius: 60px;
}

#users ul li {
    font-style: italic;
    color: black;
}
